.banner {
  background-image: url('https://edwinngn.github.io/asset/cover.jpg');
  color: white;
  height: 500px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.banner h1 {
  font-family: 'Montserrat', sans-serif;
}

.banner p {
  color: white;
}


