.btn-pink {
  display: inline-block;
  background-color: #EDA0D4;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  color:white;
  margin-top: 20px;
}

.btn-pink:hover {
  text-decoration: none;
  color: #EDA0D4;
  background-color: white;
}

.btn-cart {
  display: inline-block;
  background-color: #EDA0D4;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  color:white;
  margin-top: 20px;
}

.btn-detail {
  background-color: #009DCC;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color:white;
  margin-top: 20px;
}

.btn-detail:hover{
  text-decoration: none;
  background-color: #EDA0D4;
  color:white;
}

.btn-end{
  margin-top: 104px;
  margin-bottom: 30px;
}

@media (max-width: 535px) {
  .btn-detail {
    font-size: 8px;
    margin-top: 5px;
  }

  .btn-end{
  margin-top: 38px;
  margin-bottom: 10px;
}
}
