
.offer {
  text-align: center;
}

.offer h2{
  margin-bottom:30px;
}
.card {
  width: 400px;
  box-shadow: 0 0 2px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px;
}

.card h2{
  margin-top: 10px;
}

.data {
  background-color: #009DCC;
  color:white;

}

.price p{
  margin:0;
}

.bbox h6{
  background-color: #EDA0D4;
  color:white;
}

.price {
  color:#EDA0D4;
  height: 105px;
}

.price h2{
  color:#EDA0D4;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.sms{
  padding: 10px 0px;
  background-color: rgb(243,243,243);
  color:#EDA0D4;
}

.sms p {
  margin: 0;
  margin:auto;
}

.data-details{
  padding: 10px 0px;
  color:#EDA0D4;
}

.destination{
  padding: 10px 0px;
  background-color: rgb(243,243,243);
  color:#EDA0D4;
}


