.footer {
  height: 150px;
  background-color: #009DCC;
  margin-top: 20px;
  text-align:center;
}

.footer a {
  display: inline-block;
  color: white;
  font-size: 17px;
  margin: 20px;
}

.socials a {
  margin-top: 10px;
  padding: 0 10px;
}

.footer p {
  margin: 0 0;
  color: #6B6C6C;
}
